<% if current_user %>
  <%= link_to "New Project", new_project_path %>
  <%= link_to "My Projects", myprojects_path %>
  <%= form_for :search, method: :get do |f| %>
    <%= f.text_field :title, value: @search_query %>
    <%= f.submit "search" %>
  <% end %>

<% end %>
  <div>
    <p>
  Total Ongoing Projects: <%= @total_num_projects %>
    </p>
    <p>
  Sum of All Pledges Given For Projects: <%= @sum_of_all_pledges_all_projects %>
    </p>
    <p>
      funded projects: <%= @funded_projects %>
      projects awaiting to be funded: <%= @projects_waiting_funding %>
    </p>
  </div>

<%= render 'show_projects', projects: @projects %>
