<hr>
<div class="container">
<h1 class="my-4">All Projects </h1>
  <div>
    <small>
    <p>
  Total Ongoing Projects: <%= @total_num_projects %>
    </p>
    <p>
  Sum of All Pledges Given For Projects: <%= @sum_of_all_pledges_all_projects %>
    </p>
    <p>
      funded projects: <%= @funded_projects %>
      projects awaiting to be funded: <%= @projects_waiting_funding %>
    </p>
  </div>
</small>
<hr>
<%= render 'show_projects', projects: @projects %>
</div>
