<!DOCTYPE html>
<html>
  <head>
    <title>Crowdfunder</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "https://fonts.googleapis.com/css?family=Josefin+Sans:700|Libre+Baskerville" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>

  <body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/"><h1 class="logo">Crowdfunder</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">

            </li>
            <% if current_user %>
            <li>
              <%= link_to "New Project", new_project_path, class: "nav-link" %>
            </li>
            <li>
            <%= link_to "My Projects", myprojects_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Logout", :logout, method: :delete, class: "nav-link" %>
            </li>
            <% else %>
            <li>
              <%= link_to "Register", new_user_path, class: "nav-link" %>
            </li>
            <li>
              <%= link_to "Login", :login, class: "nav-link" %>
            </li>
            <% end %>

          </ul>
        </div>

      </div>
      <li class="nav-item">
      <%= form_for :search, method: :get do |f| %>
        <%= f.text_field :title, value: @search_query %>
        <%= f.submit "search", class: "btn btn-secondary" %>
      <% end %>
    </li>
    </nav>


    <header class="site-header">

    <% flash.each do |key, message| %>
      <div class="flash-<%= key %>"><%= message %></div>
    <% end %>

    <main>
      <%= yield %>
    </main>

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; <br> <br>Hasan - Shahshike - Behram - Sean</p>
      </div>
    </footer>
  </body>
</html>
